<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Inventory.Client.Layout.MainLayout)"/>
        </Found>

        <NotFound>
            <p>Страница не найдена.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
