@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Inventory.UI.Components.Notifications
@using Inventory.UI.Components
@using Inventory.UI.Utilities
@using Radzen
@using Radzen.Blazor

<AuthorizeView>
    <Authorized Context="userContext">
        <RadzenStack Orientation="Orientation.Horizontal" Gap="@RadzenUi.Gap" Style="min-height: 100vh;">
            <RadzenCard Style="width: 260px; margin: 0; border-radius: 0;">
                <NavMenu />
            </RadzenCard>

            <RadzenStack Orientation="Orientation.Vertical" Gap="@RadzenUi.Gap" Style="flex: 1; padding: 1rem;">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Class="rz-p-3 rz-shadow-1 rz-border-radius">
                    <span>
                        <RadzenIcon Icon="account_circle" Class="rz-mr-2" />
                        Привет, @userContext.User.Identity?.Name!
                    </span>
                    <a href="https://www.cubytechnologies.com/" target="_blank">About</a>
                </RadzenStack>

                <RadzenCard Style="flex: 1;">
                    @Body
                </RadzenCard>
            </RadzenStack>
        </RadzenStack>

        <NotificationContainer />
        <RealTimeNotificationComponent />

        <RadzenNotificationBridge />
        <RadzenComponents @rendermode="InteractiveAuto" />
    </Authorized>
    <NotAuthorized>
        <Inventory.UI.Pages.Login />
    </NotAuthorized>
</AuthorizeView>

