@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Inventory.Shared.Models
@using Inventory.UI.Components.Notifications
@using Inventory.UI.Components



<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <div class="user-info">
                        <span class="greeting-text">
                            <i class="bi bi-person-circle me-2"></i>
                            Привет, @context.User.Identity?.Name!
                        </span>
                    </div>

                    <a href="https://www.cubytechnologies.com/" target="_blank">About</a>
                </div>

                <article class="content">
                    @Body
                </article>
            </main>
        </div>


        @* Notification container for toast notifications *@
        <NotificationContainer />

        @* Real-time notifications *@
        <RealTimeNotificationComponent />
    </Authorized>
    <NotAuthorized>
        <Inventory.UI.Pages.Login />
    </NotAuthorized>
</AuthorizeView>
