@inherits LayoutComponentBase

<Inventory.Web.Components.Layout.MainLayout AppTitle="Inventory Control System">
    <TopRowContent>
        <div class="d-flex align-items-center">
            <span class="text-muted">Система управления складом</span>
        </div>
    </TopRowContent>
    <LoginComponent>
        <Login />
    </LoginComponent>
</Inventory.Web.Components.Layout.MainLayout>