@inherits LayoutComponentBase

<Inventory.Web.Components.Layout.MainLayout AppTitle="Inventory App">
    <TopRowContent>
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </TopRowContent>
    <LoginComponent>
        <Login />
    </LoginComponent>
</Inventory.Web.Components.Layout.MainLayout>