@page "/radzen-test"

<PageTitle>Radzen Components Test</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <RadzenCard>
                <RadzenStack AlignItems="AlignItems.Center" class="rz-p-3">
                    <RadzenText TextStyle="TextStyle.H4">Radzen Components Test</RadzenText>
                    <RadzenText>This page is used for testing Radzen components.</RadzenText>
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>
</div>
