@page "/unit-of-measures"
@using Inventory.UI.Components
@using Inventory.Shared.DTOs

<PageTitle>Unit of Measures - Inventory Control</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0">Unit of Measures</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Unit of Measures</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ReferenceDataWidget Title="Unit of Measures" />
        </div>
    </div>
</div>
